<div class="container">
  <br />
  <h1>Cadastrar Perfil</h1>

  <hr />
  <form (submit)="enviaDados()" #cadastroPerfil="ngForm">
    <div class="form-group">
      <label for="nome">Nome: <span class="requerido">*</span></label>
      <input
        required
        [(ngModel)]="nome"
        type="text"
        name="nome"
        id="nome"
        class="form-control col-5"
        #nomeP="ngModel"
        [class.is-invalid]="nomeP.errors && (nomeP.dirty || nomeP.touched)"
      />
      <span
        class="help-block"
        *ngIf="nomeP.errors && (nomeP.dirty || nomeP.touched)"
        >É necessário informar um nome !</span
      >
    </div>
    <div class="row">
      <div class="form-group ml-3 mr-4">
        <label for="sexo">Sexo:</label>
        <select
          #sexoP="ngModel"
          name="sexo"
          id="sexo"
          [(ngModel)]="sexo"
          class="form-control"
        >
          <option value="F">Feminino</option>
          <option value="M">Masculino</option>
        </select>
      </div>
      <div class="form-group mr-3">
        <label for="cpf">CPF:</label>
        <input
          [(ngModel)]="cpf"
          #cpfP="ngModel"
          id="cpf"
          name="cpf"
          type="text"
          class="form-control"
          maxlength="15"
          pattern="\d{3}\.?\d{3}\.?\d{3}-?\d{2}"
        />
      </div>
      <div class="form-group mr-3">
        <label for="telefone">Telefone:</label>
        <input
          [(ngModel)]="telefone"
          #telefoneP="ngModel"
          id="telefone"
          name="telefone"
          type="text"
          class="form-control"
          maxlength="11"
        />
      </div>
      <div class="form-group">
        <label for="estado">Estado:</label>
        <select
          #estadoP="ngModel"
          name="estado"
          id="estado"
          [(ngModel)]="estado"
          class="form-control"
        >
          <option *ngFor="let e of estados" [value]="e">{{ e }} </option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="endereco">Endereço:</label>
      <textarea
        [(ngModel)]="endereco"
        class="form-control"
        id="endereco"
        name="endereco"
        rows="3"
        #enderecoP="ngModel"
      ></textarea>
    </div>
    <div class="row">
      <div class="form-group ml-3 mr-3">
        <label for="cidade">Cidade:</label>
        <input
          type="text"
          name="cidade"
          id="cidade"
          #cidadeP="ngModel"
          [(ngModel)]="cidade"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="cep">CEP:</label>
        <input
          type="text"
          name="cep"
          id="cep"
          #cepP="ngModel"
          [(ngModel)]="cep"
          class="form-control"
        />
      </div>
    </div>

    <button
      [disabled]="cadastroPerfil.invalid"
      class="btn btn-primary"
      data-toggle="modal"
      data-target="#ignismyModal"
    >
      Salvar
    </button>
  </form>
</div>

<div class="modal fade" id="ignismyModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          class="close"
          data-dismiss="modal"
          data-target="#ignismyModal"
          [routerLink]="['/perfil']"
          aria-label=""
        >
          <span>×</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="thank-you-pop">
          <img
            src="http://goactionstations.co.uk/wp-content/uploads/2017/03/Green-Round-Tick.png"
            alt=""
          />
          <h1>Perfil Criado!</h1>
          <p>
            Seu perfil foi criado com sucesso, volte para a tela te perfis para
            conferir.
          </p>
          <button
            class="btn btn-primary"
            data-dismiss="modal"
            [routerLink]="['/perfil']"
            data-target="#ignismyModal"
          >
            Meu perfil
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
